.box {
    background: linear-gradient(#0b6782, #2f313d);
    border-radius: 5px;
    width: 20%;
    position: relative;
    display: block;
    margin: 15px auto 0;
    top: 5%;
}

.box__header {
    padding: 15px 25px;
    position: relative;
}

.box__header-title {
    color: #fff;
    font-size: 18px;
}

.box__body {
    padding: 0 25px;
}

/* STATS */

.stats {
    color: #fff;
    position: relative;
    padding-bottom: 25px;
}

.stats__amount {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;
}

.stats__caption {
    font-size: 18px;

}

.stats__change {
    position: absolute;
    top: 10px;
    right: 0;
    text-align: right;
    color: #B1B7C8;
}

.stats__value {
    font-size: 18px;
}

.stats__period {
    font-size: 14px;
}

.stats__value--positive {
    color: #AEDC6F;
}

.stats__value--negative {
    color: #FB5055;
}

.stats--main .stats__amount {
    font-size: 54px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.button {
    display: block;
    text-decoration: none;
    font-size: 1em;
    line-height: 1;
    margin: 0;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    transition-duration: 0.1s;
    float: right;
}

.button:hover {
    background: #008ec2;
}

.button span {
    display: block;
    padding: 10px 20px;
}

.button-loading,
.button-loading:after {
    width: 2.1em;
    height: 2.1em;
    border-radius: 50%;
}

.button-loading {
    transition-property: width height padding box-shadow border-width background opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background: transparent;
    box-shadow: 0 0 0 #006799;
    border-top: 4px solid #0073aa;
    border-right: 4px solid #BFE7F3;
    border-bottom: 4px solid #BFE7F3;
    border-left: 4px solid #BFE7F3;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1s infinite linear;
    animation: load8 1s infinite linear;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    float: right;
}

.button-loading span {
    display: none;
}

.button-loading:hover {
    background: transparent;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.big {
    font-size: 1.2em;
}

.square {
    width: .7em;
    height: .7em;
    margin: .5em;
    display: inline-block;
}

/* Custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.custom-dropdown select {
    background-color: #0085ba;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
    color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
    color: rgba(0,0,0,.4);
}