body {
    background: #2f313d;
    color: #46485c;
    font-family: sans-serif;
}

h2 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

a {
    color: #46485c;
    text-decoration: none;
}

.login {
    left: 40%;
    right: 40%;
    width: 20%;
    top: 20%;
    padding: 1% 2%;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px rgba(255, 255, 255, 0.07)
}

.logo {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    top: 5%;
    position: sticky;
}

.logo img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.error {
    background-color: #cc3a26;
    padding: 2px;
    border-radius: 5px;
}

.autologout {
    background-color: #29292d;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    bottom: -35px;
    position: absolute;
    text-align: center;
    right: 0%;
    font-size: 0.8em;
    color: darkgrey;
}

.highvis {
    background-image: url("/tracker/assets/img/highvis.png");
    background-blend-mode: darken;
    color: black;
    font-size: large;
    font-weight: bold;
    font-variant: all-petite-caps;
}

.novis {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
}

.noKiosk {
    background-blend-mode: darken !important;
    background-color: orangered !important;
    background-size: 57% !important;
}

.siteDisabled {
    background-blend-mode: darken !important;
    background-color: red !important;
    background-size: 35% !important;
}

.onFire {
    background-image: url("/tracker/assets/img/onfire.jpg");
    font-size: 60pt;
    color: #f9ff00;
    text-shadow: 8px 8px 13px #ff0000;
}

input[type="text"] {
    width: 100%;
    padding: 25px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
    outline: none;
    color: #ffffff;
}

input[type="password"] {
    width: 100%;
    padding: 25px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
    outline: none;
    color: #ffffff;
}

input[type=checkbox] {
    display: none;
}

label {
    display: block;
    position: absolute;
    margin-top: 2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #46485c;
    content: "";
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 3px solid #252730;
    box-shadow: 0px 0px 0px 2px #46485c;
}

#remember:checked ~ label[for=remember] {
    background: #b5cd60;
    border: 3px solid #252730;
    box-shadow: 0px 0px 0px 2px #b5cd60;
}

input[type="submit"] {
    background: #b5cd60;
    border: 0;
    width: 100%;
    height: 2.5em;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background: #16aa56;
}

.badgehelp {
    margin-top: 30px;
    display: block;
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
}

.badgehelp:hover {
    margin-top: 30px;
    display: block;
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    color: #6d7781;
}

.remember {
    padding: 30px 0px;
    font-size: 12px;
    text-indent: 25px;
    line-height: 15px;
}

::-webkit-input-placeholder {
    color: #46485c;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: all 0.2s linear;
    transform: translate(10px, 0);
    opacity: 0;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 30px;
    background: #000;
    color: #fff;
    cursor: pointer;
    border: 0;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.8);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    /*height: 300px;*/
    margin-left: -200px;
    margin-top: -150px;
    background: #272727;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateY(45px);
}

.modal img {
    width: 50%;
    float: right;
}

.modal h2 {
    width: 45%;
    position: absolute;
    text-align: left;
    padding: 0 0 0 15px;
    font-size: 15px;
}

.active {
    visibility: visible;
    opacity: 1;
}

.active + .modal {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

@media only screen and (max-width: 1000px) {
    .login {
        left: 2%;
        right: 2%;
        width: 96%;
        top: 20%;
        padding: 1% 2%;
    }

    .logo {
        max-width: 500px;
    }

    h2 {
        font-size: 30px;
    }

    input[type="text"] {
        font-size: 2em;
    }

    input[type="submit"] {
        height: 3em;
        font-size: 2em;
    }

    .badgehelp {
        font-size: 2em;
        padding: 10px 0px 25px 0px;
    }

    .badgehelp:hover {
        font-size: 2em;
        padding: 10px 0px 25px 0px;
    }

    .modal {
        left: 0%;
        width: 100%;
        margin-left: 0px;
    }

    .close {
        width: 70px;
        height: 60px;
        font-size: 2em;
    }
}

/* Additional Bootstrap Overrides */
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

/****** Statistic ******/
.statistic {
    margin: 1em 0;
    text-transform: uppercase;
    /*display: inline-block;*/
}

.statistic .value {
    font-size: 4em;
    line-height: 1em;
    text-align: center;
}

.statistic .value.text {
    font-size: 2em;
    font-weight: bold;
}

.statistic .value img {
    max-height: 0.8em;
    vertical-align: baseline;
}

.statistic .label {
    color: inherit;
    display: block;
    font-size: 1em;
    text-align: center;
}

.statistic + .statistic {
    margin-left: 1.5em;
}

/*** Horizontal Statistic ***/
.statistic.horizontal .value,
.statistic.horizontal .label {
    display: inline;
    vertical-align: middle;
}

/****** Statistic Group ******/
.statistic-group {
    margin: 1em 0;
}

.statistic-group .statistic {
    display: inline-block;
}

/*** Horizontal Statistic Group ***/
.statistic-group.horizontal .statistic {
    display: block;
}

.statistic-group.horizontal .statistic .value,
.statistic-group.horizontal .statistic .label {
    display: inline;
    vertical-align: middle;
}

.statistic-group.horizontal .statistic + .statistic {
    margin-left: 0;
}

/*** Float Statistics ***/
.statistic.pull-left {
    margin-right: 1em;
}

.statistic.pull-right {
    margin-left: 1em;
}

/****** Statistic Sizes ******/
.statistic.mini .value {
    font-size: 1em;
    font-weight: bold;
}

.statistic.tiny .value {
    font-size: 2em;
}

.statistic.small .value {
    font-size: 3em !important;
}

.statistic.large .value {
    font-size: 5em;
}

.statistic.huge .value {
    font-size: 6em;
}

/****** Statistic Types ******/
.statistic.primary {
    color: #337ab7;
}

.statistic.success {
    color: #5cb85c;
}

.statistic.info {
    color: #5bc0de;
}

.statistic.warning {
    color: #f0ad4e;
}

.statistic.danger {
    color: #d9534f;
}

.statistic.inverted {
    color: white;
}