/.git
/.idea
/.vscode
/storage/logs/*
/storage/debugbar/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/public/build
/bootstrap/cache/*
/bootstrap/ssr
/resources/js/ziggy.js
/vendor
/node_modules
/.services
npm-debug.log
yarn-error.log
*.env
.env.*
!.env
