/.git

# Editors
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Dependencies
/vendor
/node_modules

# Build output/cache
/public/build
/bootstrap/cache/*
/bootstrap/ssr
/resources/js/ziggy.js
/resources/js/ziggy.d.ts
.phpunit.cache
.phpunit.result.cache
.php-cs-fixer.cache

# Logs
npm-debug.log
yarn-error.log

# Environment config
.phpactor.json
Homestead.json
Homestead.yaml
auth.json
**/.env.*
**/*.env
**/*.env.*

# Docs/repo config
/.github
/wiki

# Storage
/storage/app/private/*
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/debugbar/*
/storage/pail/*
