# Editors
/.fleet
/.idea
/.nova
/.zed

# Dependencies
/vendor
/node_modules

# Build output/cache
/public/build
/public/hot
/bootstrap/cache/*
/bootstrap/ssr
/resources/js/ziggy.js
/resources/js/ziggy.d.ts
/storage/pail
components.d.ts
.phpunit.cache
.phpunit.result.cache
.php-cs-fixer.cache

# Instance specific
/public/storage
pgdump.sql
*.log

# Environment config
/storage/*.key
/auth.json
.phpactor.json
Homestead.json
Homestead.yaml
.env
*.env
.env.*
!.env.example

# OS stuff
.DS_Store
Thumbs.db
