{% extends "admin.html" %}

{% block card %}

<div class="card mb-3">
  <div class="card-header">
    <div>Bonuses</div>
  </div>
  <div class="card-body p-0">
    <table id="table" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Start</th>
          <th scope="col">Stop</th>
          <th scope="col">Depts</th>
          <th scope="col">Mod</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody id="bRow">
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Add Reward
  </div>

  <div class="card-body">
    
    <div class="input-group d-flex">
      <div class="input-group date" id="bonusstart" data-target-input="nearest">
        <input type="text" class="form-control datetimepicker-input" placeholder="Start" data-target="#bonusstart">
        <div class="input-group-append" data-target="#bonusstart" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
      
      <div class="input-group date" id="bonusstop" data-target-input="nearest">
        <input type="text" class="form-control datetimepicker-input" placeholder="Stop" data-target="#bonusstop">
        <div class="input-group-append" data-target="#bonusstop" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
      
      <select class="selectpicker dropup" title="Departments" multiple data-live-search="true" id="depts"></select>
      
      <input type="text" class="form-control" placeholder="Modifier" aria-label="Modifier" id="bonusmod">
      <button class="btn btn-success" type="button" onClick="addBonus(this)">
        Add Bonus
      </button>
    </div>
    
  </div>
</div>

{% endblock %}
