{% extends "admin.html" %}

{% block card %}

<div class="card mb-3">
  <div class="card-header">
    Department Settings
  </div>
  <div class="card-body">
    <table id="table" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Department</th>
          <th scope="col">Hidden</th>
        </tr>
      </thead>
      <tbody id="dRow">
      </tbody>
    </table>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon2">
      <select class="custom-select" id="inputGroupSelect02">
        <option value=-1 hidden selected>Hidden</option>
        <option value=0>No</option>
        <option value=1>Yes</option>
      </select>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" onclick="addDept(this)">
          Add Dept
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
