{% extends "admin.html" %}

{% block card %}

<div class="card mb-3">
  <div class="card-header">
    Generate Reports
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm">
        <a role="button" class="btn btn-light d-grid" onclick="changeFrame('unclocked')">Unclocked Users</a>
      </div>
      <div class="col-sm">
        <div class="dropdown">
          <button style="width:100%" class="btn btn-light btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Volunteer Hours
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" onclick="changeFrame('vHour1')">> 1 Hour</a>
            <a class="dropdown-item" onclick="changeFrame('vHour4')">> 4 Hours</a>
            <a class="dropdown-item" onclick="changeFrame('vHour8')">> 8 Hours</a>
            <a class="dropdown-item" onclick="changeFrame('vHour12')">> 12 Hours</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <a role="button" class="btn btn-light d-grid" onclick="changeFrame('logs')">Staff Logs</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <a role="button" class="btn btn-light d-grid" onclick="changeFrame('apps')">Volunteer Applications</a>
      </div>
      <div class="col-sm">
        <a role="button" class="btn btn-light d-grid" onclick="changeFrame('depttimes')">Department Summary</a>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm">
        <iframe id="datFrame" src="" style="width: 100%;height: 700px;border:none;display: none"></iframe>
      </div>
    </div>
    
  </div>
</div>

{% endblock %}
