{% extends "admin.html" %}

{% block card %}

<div class="card mb-3">
  <div class="card-header">
    User Settings
  </div>
  <div class="card-body">
    
    <div class="card mb-3">
      <div class="card-header">
        Admins
      </div>
      <div class="card-body">
        <table id="table" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Badge</th>
              <th scope="col">Name</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody id="uRowAdmin">
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="card mb-3">
      <div class="card-header">
        Managers
      </div>
      <div class="card-body">
        <table id="table" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Badge</th>
              <th scope="col">Name</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody id="uRowManager">
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="card mb-3">
      <div class="card-header">
        Leads
      </div>
      <div class="card-body">
        <table id="table" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Badge</th>
              <th scope="col">Name</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody id="uRowLead">
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="card mb-3">
      <div class="card-header">
        Banned
      </div>
      <div class="card-body">
        <table id="table" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Badge</th>
              <th scope="col">Name</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody id="uRowBanned">
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="card mb-3">
      <div class="card-body">
        <div class="input-group">
          <input type="text" class="form-control inputDark" placeholder="Badge Number" aria-label="Badge Number" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onClick="setAdmin(1, getButtonInput(this))" style="background-color: #400000; color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.15)">
              Make Admin
            </button>
            <button class="btn btn-outline-secondary" type="button" onClick="setManager(1, getButtonInput(this))" style="background-color: #402300; color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.15)">
              Make Manager
            </button>
            <button class="btn btn-outline-secondary" type="button" onClick="setLead(1, getButtonInput(this))" style="background-color: #1a5800; color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.15)">
              Make Lead
            </button>
            <button class="btn btn-outline-secondary" type="button" onClick="setBanned(1, getButtonInput(this))">
              BAN
            </button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

{% endblock card %}
