{% extends "admin.html" %}

{% block card %}

<div class="card mb-3">
  <div class="card-header">
    User Roles
  </div>
  <div class="card-body">
    
    <div class="row gx-md-3">
      
      <div class="col-xl-3 col-md-6">
        <div class="card mb-3">
          <div class="card-header">
            Admins
          </div>
          <div class="card-body p-0">
            <table id="table" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Badge</th>
                  <th scope="col">Name</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody id="uRowAdmin">
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <div class="col-xl-3 col-md-6">
        <div class="card mb-3">
          <div class="card-header">
            Managers
          </div>
          <div class="card-body p-0">
            <table id="table" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Badge</th>
                  <th scope="col">Name</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody id="uRowManager">
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <div class="col-xl-3 col-md-6">
        <div class="card mb-3">
          <div class="card-header">
            Leads
          </div>
          <div class="card-body p-0">
            <table id="table" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Badge</th>
                  <th scope="col">Name</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody id="uRowLead">
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <div class="col-xl-3 col-md-6">
        <div class="card mb-3">
          <div class="card-header">
            Banned
          </div>
          <div class="card-body p-0">
            <table id="table" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Badge</th>
                  <th scope="col">Name</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody id="uRowBanned">
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    Promote User
  </div>
  <div class="card-body">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Badge Number" aria-label="Badge Number" aria-label="Badge Number">
      <button class="btn btn-danger" type="button" onClick="setAdmin(1, getButtonInput(this))">
        Make Admin
      </button>
      <button class="btn btn-warning" type="button" onClick="setManager(1, getButtonInput(this))">
        Make Manager
      </button>
      <button class="btn btn-success" type="button" onClick="setLead(1, getButtonInput(this))">
        Make Lead
      </button>
      <button class="btn btn-danger" type="button" onClick="setBanned(1, getButtonInput(this))">
        BAN
      </button>
    </div>
  </div>
</div>

{% endblock card %}
