@layer tailwind-base, app-base, primevue, app, tailwind-utilities;

@layer tailwind-base {
	@tailwind base;
}

@layer tailwind-utilities {
	@tailwind components;
	@tailwind utilities;
}

@layer app-base {
	:root {
		@apply bg-surface-50 dark:text-primary-50 dark:bg-surface-950;
	}

	a {
		@apply text-primary transition-colors;
	}

	a:hover,
	a:focus {
		@apply text-primary-emphasis;
	}
}

@layer app {
	/* Workarounds for scrollable DataTable overflowing with paginator/header */
	.p-datatable-flex-scrollable:has(.p-datatable-paginator-bottom) > .p-datatable-table-container {
		max-height: calc(100% - 6.5rem);
	}
	.p-datatable-flex-scrollable:has(.p-datatable-header) > .p-datatable-table-container {
		max-height: calc(100% - 6.5rem);
	}
	.p-datatable-flex-scrollable:has(.p-datatable-paginator-bottom):has(.p-datatable-header)
		> .p-datatable-table-container {
		max-height: calc(100% - 10.5rem);
	}
}
