APP_NAME="BLFC Tracker"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://tracker.test

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

LOG_CHANNEL=stack
LOG_STACK=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=tracker
DB_USERNAME=tracker
DB_PASSWORD=

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

QUEUE_CONNECTION=redis

CACHE_STORE=redis
CACHE_PREFIX=

# MEMCACHED_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

CONCAT_BASE_URI=https://reg.gobltc.com
CONCAT_CLIENT_ID=
CONCAT_CLIENT_SECRET=

TELEGRAM_BOT_TOKEN=

TRACKER_TIMEZONE=America/Los_Angeles
