<div class="card mb-3">
  <h5 class="card-header">
    Your Functions
  </h5>
  <div class="card-body">
    <div class="row">
      {% if isLead %}
      <div class="col-md">
        <a role="button" class="btn btn-light d-block" href="/lead.php">Lead Panel</a>
      </div>
      {% endif %}
      {% if isManager or isAdmin %}
      <div class="col-md">
        <a role="button" class="btn btn-light d-block" href="/manage.php">Management Panel</a>
      </div>
      {% endif %}
      {% if isAdmin %}
      <div class="col-md">
        <a role="button" class="btn btn-light d-block" href="/admin.php">Admin Panel</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
