{% extends "base.html" %}

{% block content %}

<div class="card mb-3">
  <h5 class="card-header text-bg-warning">
    Admin
  </h5>
  <div class="card-body">

    {% set active %} active" aria-current="page{% endset %}

    <ul class="nav nav-pills justify-content-center mb-3">
      <li class="nav-item">
        <a class="nav-link{% if page == 'site' %}{{ active }}{% endif %}" href="/admin.php">Site</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if page == 'users' %}{{ active }}{% endif %}" href="/admin.php?page=users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if page == 'departments' %}{{ active }}{% endif %}" href="/admin.php?page=departments">Departments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if page == 'bonuses' %}{{ active }}{% endif %}" href="/admin.php?page=bonuses">Bonuses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if page == 'rewards' %}{{ active }}{% endif %}" href="/admin.php?page=rewards">Rewards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if page == 'reports' %}{{ active }}{% endif %}" href="/admin.php?page=reports">Reports</a>
      </li>
    </ul>

    {% block card %}{% endblock %}

    <a class="btn btn-info btn-sm float-end" href="/" role="button">Back</a>

  </div>
</div>

{{ include("autoLogout.html") }}

{% endblock %}

{% block scripts %}

<script src="/js/landing.js"></script>
<script src="/js/admin.js"></script>

<script>$(document).ready(function () {
  initData();
  decrementLogout();
});
</script>

{% endblock %}
