{% extends "base.html" %}

{% block content %}

<div class="card mb-3">
  <h5 class="card-header text-bg-warning">
    Admin
  </h5>
  <div class="card-body">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin.php">Site</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin.php?page=users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin.php?page=departments">Departments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin.php?page=bonuses">Bonuses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin.php?page=rewards">Rewards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin.php?page=reports">Reports</a>
          </li>
        </ul>
      </div>
    </nav>    
    
    {% block card %}{% endblock %}

    <a class="btn btn-info btn-sm float-end" href="/" role="button">Back</a>

  </div>
</div>

{{ include("autoLogout.html") }}

{% endblock %}

{% block scripts %}

<script src="/js/landing.js"></script>
<script src="/js/admin.js"></script>

<script>$(document).ready(function () {
  initData();
  decrementLogout();
});
</script>

{% endblock %}
