{% extends "base.html" %}

{% block content %}

<div class="container" style="top: 5em;position: relative;">
    <div class="card">
        <div class="card-header highvis">
            <div class="vistext">Admin</div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="card-body">
                    {{ include("navbar.html") }}

                    {% block card %}{% endblock %}

                </div>
            </div>
        </div>

        <div class="card novis">
            <div class="row">
                <div class="col-sm">
                    <a href="/" style="float:right"
                       role="button" class="btn btn-sm btn-info">BACK
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="top: 5em;position: relative;">
    {{ include("autoLogout.html") }}
</div>

{% endblock %}

{% block scripts %}

<script src="/js/landing.js"></script>
<script src="/js/general.js"></script>
<script src="/js/admin.js"></script>

<script>$(document).ready(function () {
        initData();
        decrementLogout();
    });
</script>

{% endblock %}
