{% extends "base.html" %}

{% block content %}

<div class="card" style="width: 25rem;top: 8em;">
    <div class="card-body">
        <p class="card-text">
        <h2>ALERT</h2></p>
        <p class="card-text">
            {% for notif in notifs %}
            <div class="alert alert-dark" role="alert" style="text-align: center">{{ notif.message }}</div>
            {% endfor %}

            <a role="button" class="btn btn-success btn-sm" onclick="ackAllNotifs(function(data){location.reload()});"
               style="width: 100%">
                I Acknowledge</a>
        </p>
        {{ include("autoLogout.html") }}
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="/js/landing.js"></script>
<script>$(document).ready(function () {
        decrementLogout();
    });
</script>

{% endblock %}
