{% extends "base.html" %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-10 col-lg-8">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">New alerts</h5>
        {% for notif in notifs %}
        <div class="alert alert-dark" role="alert">{{ notif.message }}</div>
        {% endfor %}
        <a class="btn btn-success btn-sm d-block" role="button" onclick="ackAllNotifs(function (data) {location.reload()});">I Acknowledge</a>
      </div>
    </div>
    {{ include("autoLogout.html") }}
  </div>
</div>

{% endblock %}

{% block scripts %}

<script src="/js/landing.js"></script>
<script>$(document).ready(function () {
  decrementLogout();
});
</script>

{% endblock %}
