<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/icons/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/img/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/img/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <script src="js/lib/jquery.cookie.js"></script>
    <script src="js/lib/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="js/lib/moment.min.js"></script>
    <script type="text/javascript" src="js/lib/moment-duration-format.min.js"></script>
    <script type="text/javascript" src="js/lib/tempusdominus-bootstrap-4.min.js"></script>

	<script src="js/general.js?v=3"></script>

    <link rel="stylesheet" media="all" href="css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/bootstrap/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-select.css"/>
    <link rel="stylesheet" href="css/bootstrap/tempusdominus-bootstrap-4.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap/custom-css-bootstrap.css">

    <title>BLFC Volunteer Tracking</title>
</head>

<body>
<div class="container" style="top: 3em;position: relative;">
    <div class='logo'>
        <img src="assets/img/BLFC-ChipIcon.png"/>
    </div>
</div>

{% block content %}{% endblock %}

<script src="js/lib/popper.min.js"></script>
<script src="js/lib/bootstrap.bundle.min.js"></script>

<script src="js/lib/bootstrap-select.min.js"></script>

{% if devMode %}<script>$(document).ready(function () {logoutTime = 60000})</script>{% endif %}

</body>
</html>
