{% extends "base.html" %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-10 col-lg-8">
    <div class="card mb-3">
      <h5 class="card-header text-bg-danger">
        {{ message }}
      </h5>
      <div class="card-body">
        {{ description }}
      </div>
    </div>

    {% if isLead or isManager or isAdmin %}
    {{ include("adminFunctions.html") }}
    {% endif %}

    {{ include("autoLogout.html") }}

  </div>
</div>

{% endblock %}

{% block scripts %}

<script src="/js/landing.js"></script>
<script>$(document).ready(function () {
  decrementLogout();
});
</script>

{% endblock %}
