{% extends "base.html" %}

{% block content %}

<div class="card mb-3">
  <h5 class="card-header">
    Welcome {{ user.username }}!
  </h5>

  <div class="card-body">
    <div class="row">

      <div class="col-md">
        <div id="checkstatus" class="alert alert-{{ cDept ? 'success' : 'danger' }} py-2 mb-0 h-100 d-flex align-items-center" role="alert">
          You are currently {{ cDept ? "" : "not " }}checked in.
        </div>
      </div>

      <div class="col-md">
        <select class="form-select h-100" {{ cDept ? "disabled " : "" }}id="dept">
          {% if not cDept %}
          <option value="-1" disabled selected hidden>Select Department</option>
          {% endif %}
          {% for dept in departments %}
          <option {{ (cDept and cDept.dept == dept.id) ? "selected " : "" }}value="{{ dept.id }}">{{ dept.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-md">
        <button id="checkinout" class="btn btn-primary w-100 h-100" data-value="{{ cDept ? 'out' : 'in' }}">Check-{{ cDept ? "Out" : "In" }}</button>
      </div>

    </div>
  </div>
</div>

{% if isLead or isManager or isAdmin %}
{{ include("adminFunctions.html") }}
{% endif %}

<div class="card mb-3">
  <h5 class="card-header">
    Your Stats
  </h5>

  <div class="card-body">
    <div class="row">

      <div class="col-md text-center py-4 d-none" id="currdurr">
        <div class="display-2 fw-normal">
          <i class="fa-regular fa-clock"></i> <span id="durrval">Loading</span>
        </div>
        <div class="text-uppercase">Shift Duration</div>
      </div>

      <div class="col-md text-center py-4">
        <div class="display-2 fw-normal">
          <i class="fa-regular fa-clock"></i> <span id="hourstoday">Loading</span>
        </div>
        <div class="text-uppercase">Hours Today</div>
      </div>

      <div class="col-md text-center py-4">
        <div class="display-2 fw-normal">
          <i class="fa-regular fa-clock"></i> <span id="earnedtime">Loading</span>
        </div>
        <div class="text-uppercase">Hours Earned</div>
      </div>

    </div>
  </div>
</div>

<button class="btn btn-lg btn-info" data-bs-toggle="modal" data-bs-target="#telegramModal"><i class="fa-brands fa-telegram"></i> Telegram Bot</button>

{{ include("autoLogout.html") }}

{% endblock %}

{% block modals %}

<div class="modal fade" id="telegramModal" tabindex="-1" aria-labelledby="telegramModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="telegramModalTitle">Scan to add bot</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img class="img-fluid mb-4" src="https://chart.googleapis.com/chart?chs=500x500&cht=qr&chl={{ tgBot }}&choe=UTF-8" title="Opens Telegram to add bot">
        <p>This bot can provide you:</p>
        <ul>
          <li>Hours Clocked</li>
          <li>Eligible Rewards</li>
          <li>Quick Login Code</li>
        </ul>
        <p>This bot will also:</p>
        <ul>
          <li>Remind you when you can get a reward</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script src="/js/landing.js"></script>
<script>$(document).ready(function () {
  initData();
  clockCycle();
  decrementLogout();
});
</script>

{% endblock %}
