{% extends "base.html" %}

{% block content %}

    <div class="container" style="top: 5em;position: relative;">
        <div class="card">
            <div class="card-header">
                Welcome {{ user.username }}!
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card-body">
                            <div id="checkstatus" class="alert alert-{{ cDept ? "success" : "danger" }}"
                                 style="padding: 0.4rem 1rem; margin: 0>" role="alert">
                                You are currently {{ cDept ? "" : "not " }}checked in.
                            </div>

                            <!--<p class="card-text">Select a department from the list on the right.</p>-->
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card-body">
                            <select {{ cDept ? "disabled " : "" }}id="dept"
                                                                             class="custom-select custom-select-lg mb-3"
                                                                             style="margin-bottom: 0 !important;">
                                {% if not cDept %}
                                <option value="-1" disabled selected hidden>Select Department</option>
                                {% endif %}
                                {% for dept in departments %}
                                <option {{ (cDept and cDept.dept == dept.id) ? "selected " : "" }}value="{{ dept.id }}">{{ dept.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card-body">
                            <a href="#" id="checkinout" class="btn btn-block btn-primary"
                               data-value="{{ cDept ? "out" : "in" }}">Check-{{ cDept ? "Out" : "In" }}</a>
                        </div>
                    </div>
                </div>
                {{ include("adminFunctions.html") }}
            </div>
        </div>
    </div>

    <div class="container" style="top: 5em;position: relative;">
        <div class="card">
            <div class="card-header">
                Your Stats
            </div>

            <div class="row">
                <div class="col-sm" id="currdurr" style="display: none;padding: 0.3em;">
                    <div class="card-body">
                        <div class="statistic">
                            <div class="value">
                                <i class="fa-regular fa-clock"></i> <span id="durrval" style="text-transform: none">Loading</span>
                            </div>
                            <div class="label">Shift Duration</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm" style="padding: 0.3em;">
                    <div class="card-body">
                        <div class="statistic">
                            <div class="value">
                                <i class="fa-regular fa-clock"></i> <span id="hourstoday" style="text-transform: none;">Loading</span>
                            </div>
                            <div class="label">Hours Today</i></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm" style="padding: 0.3em;">
                    <div class="card-body">
                        <div class="statistic">
                            <div class="value">
                                <i class="fa-regular fa-clock"></i> <span id="earnedtime" style="text-transform: none">Loading</span>
                            </div>
                            <div class="label">Hours Earned</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <audio id='audio' preload="auto" src="/assets/egg/hero.ogg"></audio>
    </div>

    <div class="container" style="top: 5em;position: relative;">
        {{ include("autoLogout.html") }}
    </div>

    <div class="container" style="top: 5em;position: relative;">
        <div class="card novis">
            <div class="telegramBox">
                <a role="button" class="btn btn-light btn-md telegramButton" data-toggle="modal"
                   data-target="#exampleModalCenter"><i class="fa-brands fa-telegram"></i> Telegram Bot</a>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle" style="color: black;">Scan to add bot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <img src="https://chart.googleapis.com/chart?chs=500x500&cht=qr&chl={{ tgBot }}&choe=UTF-8"
                     title="Opens Telegram to add bot." style="width: 100%;">
                <ul class="list-unstyled" style="color:black; margin-left: 30px;">
                    <li>This bot can provide you:</li>
                    <ul>
                        <li>Hours Clocked</li>
                        <li>Eligible Rewards</li>
                        <li>Quick Login Code</li>
                    </ul>
                    </li>
                    <li>This bot will also:</li>
                    <ul>
                        <li>Remind you when you can get a reward</li>
                    </ul>
                    </li>
                </ul>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="/js/landing.js"></script>
    <script>$(document).ready(function () {
            initData();
            clockCycle();
            decrementLogout();
        });
    </script>

{% endblock %}
