{% extends "base.html" %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-10 col-lg-8">
    <div class="card mb-3">
      <h5 class="card-header text-bg-warning">
        Lead
      </h5>
      
      <div class="card-body">

        <div class="card mb-3">
          <div class="card-header">
            Kiosk Settings
          </div>
          <div class="card-body text-center">
            <button data-status={{ kioskAuth }} onclick="toggleKiosk(this)" type="button" class="btn btn-sm btn-{{ kioskAuth ? "danger" : "warning" }}">
              {{ kioskAuth ? "Deauthorize" : "Authorize" }} Kiosk
            </button>
          </div>
        </div>

        <a class="btn btn-info btn-sm float-end" href="/" role="button">Back</a>

      </div>
    </div>

    {{ include("autoLogout.html") }}

  </div>
</div>

{% endblock %}

{% block scripts %}

<script src="/js/landing.js"></script>
<script src="/js/manager.js"></script>

<script>$(document).ready(function () {
  initData();
  decrementLogout();
});
</script>

{% endblock %}
