{% extends "base.html" %}

{% block content %}

<div class="row justify-content-md-center mt-5">
  <div class="col-md-4">
    
    <div class="card">
      <div class="card-body">
        
        <h2 class="text-center">BLFC Volunteer Check-In</h2>
        <div class="alert alert-light text-center" role="alert">Welcome! Click below to sign in.</div>
        <a class="btn btn-success btn-sm d-block mb-3" href="/sso.php" role="button">Sign In</a>
        
        <div class="card">
          <h5 class="card-header text-center">
            Quick Sign In Code <span data-bs-toggle="tooltip" data-bs-title="Link your Telegram account after you sign in above to get a quick code anytime!"><i class="fa-regular fa-circle-question"></i></span>
          </h5>
          <div class="card-body">
            <form id="form">
              <div class="input-group input-group-lg mb-3">
                <input type="text" maxlength="1" pattern="[0-9]" id="c1" class="form-control text-center font-monospace fs-2" autofocus="on">
                <input type="text" maxlength="1" pattern="[0-9]" id="c2" class="form-control text-center font-monospace fs-2">
                <input type="text" maxlength="1" pattern="[0-9]" id="c3" class="form-control text-center font-monospace fs-2">
                <input type="text" maxlength="1" pattern="[0-9]" id="c4" class="form-control text-center font-monospace fs-2">
              </div>
              <button type="button" class="btn btn-primary w-100" id="btn">Sign In</button>
            </form>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
</div>

{% endblock %}

{% block scripts %}

<script>
  $(function () {
    $('[data-bs-toggle="tooltip"]').tooltip()
  })
  
  const form = document.querySelector('form')
  const inputs = form.querySelectorAll('input')
  const KEYBOARDS = {
    backspace: 8,
    arrowLeft: 37,
    arrowRight: 39,
    enter: 13,
  }
  
  var btn = document.getElementById("btn");
  
  btn.addEventListener("click", function() {
    submitCode()
  });
  
  function submitCode() {
    var code = "";
    inputs.forEach((input, i) => {code += input.value});
    
    postAction("/api/auth.php", {action: 'checkQuickCode', quickcode: code}, function (data) {
      if (data['code'] === 1) {
        // Successful login, forward to landing
        document.cookie = "badge=" + data['id'];
        document.cookie = "session=" + data['session'];
        location.reload();
      } else {
        Toast.fire({
          text: "Invalid code",
          icon: "warning"
        });
        inputs.forEach((input, i) => {input.value = ""});
        inputs[0].focus();
      }
    });
  }
  
  function handleInput(e) {
    const input = e.target
    const nextInput = input.nextElementSibling
    if (nextInput && input.value) {
      nextInput.focus()
      if (nextInput.value) {
        nextInput.select()
      }
    }
  }
  
  function handlePaste(e) {
    e.preventDefault()
    const paste = e.clipboardData.getData('text')
    inputs.forEach((input, i) => {
      input.value = paste[i] || ''
    })
  }
  
  function handleBackspace(e) { 
    const input = e.target
    if (input.value) {
      input.value = ''
      return
    }
    
    input.previousElementSibling.focus()
  }
  
  function handleArrowLeft(e) {
    const previousInput = e.target.previousElementSibling
    if (!previousInput) return
    previousInput.focus()
  }
  
  function handleArrowRight(e) {
    const nextInput = e.target.nextElementSibling
    if (!nextInput) return
    nextInput.focus()
  }
  
  function handleEnter(e) {
    submitCode();
  }
  
  form.addEventListener('input', handleInput)
  inputs[0].addEventListener('paste', handlePaste)
  
  inputs.forEach(input => {
    input.addEventListener('focus', e => {
      setTimeout(() => {
        e.target.select()
      }, 0)
    })
    
    input.addEventListener('keydown', e => {
      switch(e.keyCode) {
        case KEYBOARDS.backspace:
        handleBackspace(e)
        break
        case KEYBOARDS.arrowLeft:
        handleArrowLeft(e)
        break
        case KEYBOARDS.arrowRight:
        handleArrowRight(e)
        break
        case KEYBOARDS.enter:
        handleEnter(e)
        break
        default:  
      }
    })
  })
</script>

{% endblock %}
