{% extends "base.html" %}

{% block content %}

<div class="card mb-3">
  <h5 class="card-header text-bg-warning">
    Management
  </h5>
  
  <div class="card-body">
    
    <div class="card mb-3">
      <div class="card-header">
        Volunteer Management
      </div>
      
      <div class="card-body">
        <div class="input-group">
          <input id="searchinput" type="text" class="form-control inputDark" placeholder="Badge Number, Name, Username..." aria-label="Search" aria-describedby="basic-addon2">
        </div>
        
        <table id="utable" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Name</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody id="uRow">
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="card mb-3 d-none">
      <h5 class="card-header text-center">
        User
      </h5>
      
      <div class="card-body">
        
        <div class="row">
          <div class="col-md text-center py-4 d-none" id="currdurr">
            <div class="display-2 fw-normal">
              <i class="fa-regular fa-clock"></i> <span id="durrval">Loading</span>
            </div>
            <div class="text-uppercase">Shift Duration</div>
          </div>
          
          <div class="col-md text-center py-4">
            <div class="display-2 fw-normal">
              <i class="fa-regular fa-clock"></i> <span id="hourstoday">Loading</span>
            </div>
            <div class="text-uppercase">Hours Today</div>
          </div>
          
          <div class="col-md text-center py-4">
            <div class="display-2 fw-normal">
              <i class="fa-regular fa-clock"></i> <span id="earnedtime">Loading</span>
            </div>
            <div class="text-uppercase">Hours Earned</div>
          </div>
        </div>
        
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title text-center">Rewards Claimed</h5>
            <table class="table text-center">
              <thead>
                <tr>
                  {% for reward in rewards %}
                  <th scope="col">{{ reward.name }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr id="rewards">
                  {% for reward in rewards %}
                  <td>
                    <button type="button" class="btn btn-sm btn-danger" data-type="reward" data-id="{{ reward.id }}" data-state="unclaimed" onclick="toggleClaim(this)">Claim</button>
                  </td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        <div class="card">
          <div class="card-body">
            <table id="table" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">In</th>
                  <th scope="col">Out</th>
                  <th scope="col">Dept</th>
                  <th scope="col">Worked</th>
                  <th scope="col">Earned</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody id="eRow">
              </tbody>
            </table>
            
            <div class="input-group d-flex">
              <div class="input-group date w-50" id="timestart" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" placeholder="Start" data-target="#timestart">
                <div class="input-group-append" data-target="#timestart" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
            
            <div class="input-group date" id="timestop" data-target-input="nearest" style="width: auto;max-width: 50%;">
              <input type="text" class="form-control datetimepicker-input" placeholder="Stop" data-target="#timestop">
              <div class="input-group-append" data-target="#timestop" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
            
            <select style="width: 10%" class="selectpicker" title="Department" data-live-search="true" id="dept"></select>
            
            <input type="text" class="form-control inputDark" placeholder="Notes" aria-label="Notes" aria-describedby="basic-addon2" style="width: 10%;" id="notes">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" style="float: right; background-color: #005a24; color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.15)" onClick="checkIn()">
                Check In
              </button>
              <button class="btn btn-outline-secondary" type="button" style="background-color: #004014; color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.15)" onClick="addTime()">
                Add Time
              </button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="card mb-3">
      <div class="card-header">
        Create User
      </div>
      <div class="card-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Badge Number" aria-label="Badge Number" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onClick="createUser(getButtonInput(this))" style="background-color: #1d6300; color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.15)">
              Create User
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card mb-3">
      <div class="card-header">
        Kiosk Settings
      </div>
      <div class="card-body text-center">
        <button data-status={{ kioskAuth }} onclick="toggleKiosk(this)" type="button" class="btn btn-sm btn-{{ kioskAuth ? "danger" : "warning" }}">
          {{ kioskAuth ? "Deauthorize" : "Authorize" }} Kiosk
        </button>
      </div>
    </div>

    
    <a class="btn btn-info btn-sm float-end" href="/" role="button">Back</a>

  </div>
</div>

{{ include("autoLogout.html") }}

{% endblock %}

{% block scripts %}

<script src="/js/landing.js"></script>
<script src="/js/manager.js"></script>

<script>$(document).ready(function () {
  initData();
  decrementLogout();
});
</script>

{% endblock %}
