{% extends "base.html" %}

{% block content %}

<div class="card mb-3">
  <h5 class="card-header text-bg-warning">
    Management
  </h5>

  <div class="card-body">

    <div class="card mb-3">
      <div class="card-header">
        Search Volunteers
      </div>

      <div class="card-body">
        <input id="searchinput" type="text" class="form-control mb-3" placeholder="Badge Number, Name, Username..." aria-label="Search">

        <div class="card">
          <div class="card-body p-0">
            <table id="utable" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Username</th>
                  <th scope="col">Name</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody id="uRow">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div id="userCard" class="card mb-3 d-none">
      <h5 id="userCardTitle" class="card-header text-center">
        User
      </h5>

      <div class="card-body">

        <div class="row">
          <div class="col-md text-center py-4 d-none" id="currdurr">
            <div class="display-2 fw-normal">
              <i class="fa-regular fa-clock"></i> <span id="durrval">Loading</span>
            </div>
            <div class="text-uppercase">Shift Duration</div>
          </div>

          <div class="col-md text-center py-4">
            <div class="display-2 fw-normal">
              <i class="fa-regular fa-clock"></i> <span id="hourstoday">Loading</span>
            </div>
            <div class="text-uppercase">Hours Today</div>
          </div>

          <div class="col-md text-center py-4">
            <div class="display-2 fw-normal">
              <i class="fa-regular fa-clock"></i> <span id="earnedtime">Loading</span>
            </div>
            <div class="text-uppercase">Hours Earned</div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header">
            Rewards Claimed
          </div>
          <div class="card-body">
            <table class="table text-center">
              <thead>
                <tr>
                  {% for reward in rewards %}
                  <th scope="col">{{ reward.name }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr id="rewards">
                  {% for reward in rewards %}
                  <td>
                    <button type="button" class="btn btn-sm btn-danger" data-type="reward" data-id="{{ reward.id }}" data-state="unclaimed" onclick="toggleClaim(this)">Claim</button>
                  </td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header">
            Time Log
          </div>
          <div class="card-body p-0">
            <table id="table" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">In</th>
                  <th scope="col">Out</th>
                  <th scope="col">Dept</th>
                  <th scope="col">Worked</th>
                  <th scope="col">Earned</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody id="eRow">
              </tbody>
            </table>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            Add Time
          </div>
          <div class="card-body">

            <div class="row gx-3">

              <div class="col-md-3">
                <div class="input-group" id="timeStart" data-td-target-input="nearest" data-td-target-toggle="nearest">
                  <input id="timeStartInput" type="text" class="form-control" data-td-target="#timeStart" placeholder="Start">
                  <span class="input-group-text" data-td-target="#timeStart" data-td-toggle="datetimepicker">
                    <i class="fa-solid fa-calendar"></i>
                  </span>
                </div>
              </div>

              <div class="col-md-3">
                <div class="input-group" id="timeStop" data-td-target-input="nearest" data-td-target-toggle="nearest">
                  <input id="timeStopInput" type="text" class="form-control" data-td-target="#timeStop" placeholder="Stop">
                  <span class="input-group-text" data-td-target="#timeStop" data-td-toggle="datetimepicker">
                    <i class="fa-solid fa-calendar"></i>
                  </span>
                </div>
              </div>

              <div class="col-md-2">
                <select class="selectpicker w-100" title="Department" data-style="btn-outline-secondary" id="dept" data-live-search="true"></select>
              </div>

              <div class="col-md-4">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Notes" aria-label="Notes" id="notes">
                  <button class="btn btn-success" type="button" onClick="checkIn()">
                    Check In
                  </button>
                  <button class="btn btn-success" type="button" onClick="addTime()">
                    Add Time
                  </button>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Create User
      </div>
      <div class="card-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Badge Number" aria-label="Badge Number">
          <button class="btn btn-success" type="button" onClick="createUser(getButtonInput(this))">
            Create User
          </button>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Kiosk Settings
      </div>
      <div class="card-body text-center">
        <button data-status={{ kioskAuth }} onclick="toggleKiosk(this)" type="button" class="btn btn-sm btn-{{ kioskAuth ? "danger" : "warning" }}">
          {{ kioskAuth ? "Deauthorize" : "Authorize" }} Kiosk
        </button>
      </div>
    </div>


    <a class="btn btn-info btn-sm float-end" href="/" role="button">Back</a>

  </div>
</div>

{{ include("autoLogout.html") }}

{% endblock %}

{% block scripts %}

<script src="/js/landing.js"></script>
<script src="/js/manager.js"></script>

<script>$(document).ready(function () {
  initData();
  decrementLogout();
});
</script>

{% endblock %}
