<html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

  <link href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-html5-2.3.6/b-print-2.3.6/datatables.min.css" rel="stylesheet">
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-html5-2.3.6/b-print-2.3.6/datatables.min.js"></script>
  
  <title>{{ title }}</title>
</head>

<table id="tableDat" class="display nowrap w-100">
  <thead>
    <tr>
      {% for th in header %}
      <th>{{ th }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    
    {% block report %}{% endblock %}
    
  </tbody>
  <tfoot>
    <tr>
      {% for th in header %}
      <th>{{ th }}</th>
      {% endfor %}
    </tr>
  </tfoot>
</table>

<script>
  $(document).ready(function () {
    $('#tableDat').DataTable({
      dom: 'Bfrtip',
      "pageLength": 50,
      buttons: ['csv', 'excel', 'pdf'],
      "order": [[{{ orderCol }}, "desc"]]
    });
  });
</script>
</html>
